<ion-view view-title="Contact Us">
  <ion-content>
		<div class="list card">
		  <a class="item item-icon-left item-text-wrap" >
			<i class="icon ion-home"></i>
			Infinera India Pvt. Ltd., Prestige Solitaire, Level 4, 6 Bangalore, Karnataka 560025
		  </a>
		  <a class="item item-icon-left" href="tel:+1-1800-555-5555">
			<i class="icon ion-ios-telephone"></i>
			+91 9663000399
		  </a>
		  <a class="item item-icon-left" ng-click="goToWhatsApp()">
			<i class="icon ion-social-whatsapp"></i>
			+91 9663000399
		  </a>
		  <a href="#" class="item item-icon-left" onclick="window.open('http://www.google.com/', '_blank', 'location=yes'); return false;">
			<i class="icon ion-social-chrome"></i>
			www.cashit.com
		  </a>
	  	</div>  
	</ion-content>
</ion-view>
