<ion-view view-title="Upload Bill" hide-back-button="false">
    <ion-content class="padding">
        <ion-list>
			<div class = "row">
				<div class="col text-center">
					<div class="padding">
						<button ng-click="goToUploadBill()" class="button button-block icon ion-camera button-calm">  Upload Via Camera</button>
					</div>
				</div>
			</div>
			<div></div>
			<div class = "row">
				<div class="col text-center">
					<div class="padding">
					<button ng-click="goToWhatsApp()" class="button button-block icon ion-social-whatsapp button-balanced">  Upload Via WhatsApp</button>
					</div>
				</div>
			</div>
		</ion-list>
    </ion-content>
</ion-view>